.tokens-section {
  margin-top: 1rem;
}

h4 {
  margin-block: 0;
}

hr {
  margin-top: 0;
}

.token-name {
  font-family: monospace;
  color: orange;
  flex: 1;
}

.token-name--noflex{
  font-family: monospace;
  color: orange;
  flex: none;
}

.result-row {
  background-color: var(--vscode-input-background);
  display: flex;
  margin-top: 2px;
  align-items: center;
  padding-inline: 3px;
  padding-block: 1.5px;
  cursor: pointer;
  justify-content: space-between;
}

#token-search {
  width: 90%;
  margin-top: 1rem;
}