button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  padding: 5px;
  margin-inline: 5px;
}

textarea {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: 5px;
  margin: 5px;
}

.text-subtext {
  color: var(--vscode-descriptionForeground);
}

.convert-result-textarea {
  font-weight: 400;
  color: orange;
}

.d-flex {
  display: flex;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-col {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}


.flex-1 {
  flex: 1;
}

.no-resize {
  resize: none;
}

.visibility-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.my-10 {
  margin-block: 10px;
}

.my-5 {
  margin-block: 5px;
}

.icon-button {
  height: 2rem;
  padding: 0;
  color: white;
}

.warning {
  color: var(--vscode-errorForeground);
}

.success {
  color: var(--vscode-errorLens-hintForeground);
}

.info-subtext {
  font-size: 10px;
  font-style: italic;
  color: var(--vscode-descriptionForeground);
}

.warning-subtext {
  font-size: 10px;
  font-style: italic;
  color: var(--vscode-errorForeground);
}